@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a,
a:hover {
  text-decoration: none !important;
}
.top {
  height: 10px;
  background-color: black;
}
.navbar-brand img {
  height: 80px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color: black !important;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.7;
}
.nav-item {
  transition: all 0.5s;
}
.nav-item.active,
.nav-item:hover {
  background-color: #c00000;
}
.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: white !important;
}
.button {
  background-color: #c00000;
  color: white !important;
  border: 2px solid transparent;
  outline: none;
  border-radius: 0;
  width: fit-content;
  padding: 7px 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: transparent !important;
  border-color: #c00000 !important;
  color: #c00000 !important;
}
.button-white {
  background-color: white;
  color: black !important;
  border: 2px solid transparent;
  outline: none;
  border-radius: 0;
  width: fit-content;
  padding: 7px 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.button-white:hover {
  background-color: transparent !important;
  border-color: white !important;
  color: white !important;
}

.hero {
  width: 100%;
  height: 84vh;
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero h1 {
  font-weight: bolder;
  color: #1e1e1e;
}

.product {
  margin: 3rem 0;
}
.product p {
  margin-bottom: 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.product h3 {
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.product .col-md-3 {
  text-align: center;
}
.product img {
  margin-bottom: 20px;
}
.product h6 {
  font-size: 16px;
  margin-bottom: 20px;
}
.product a {
  color: black;
}

.why_us {
  width: 100%;
  height: max-content;
  background: #c00000;
  color: white;
  margin: 5rem 0;
}
.why_us .box {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
}
.why_us h3 {
  font-weight: bolder;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.why_us h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.why_us p {
  font-size: 14px;
  line-height: 23px;
}

.slider p,
.business p {
  margin-bottom: 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.slider h3,
.business h3 {
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.slider img {
  padding: 30px;
}
.slider .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider .owl-nav button {
  outline: none;
}
.slider .owl-nav button span {
  font-size: 40px;
}
.slider a {
  color: black;
}

footer {
  background: #373334;
  color: white;
  padding: 3rem 0;
  margin-top: 5rem;
}
footer h6 {
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
}
footer li {
  color: white;
  font-size: 14px;
  padding: 3px 0;
}
footer a {
  color: white;
  transition: 0.5s;
  font-size: 14px;
  letter-spacing: 0.3px;
}
footer a:hover {
  color: #c00000;
}
footer .links {
  width: 100%;
}
footer .links a {
  margin-right: 15px;
  margin-bottom: 10px;
}
footer input,
footer textarea {
  background: white !important;
  outline: none;
  border-radius: 0;
  padding: 10px 15px;
}
footer .form input {
  width: 260px;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  footer .form {
    flex-direction: column;
  }
  footer .form input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .product .col-md-3 {
    margin: 2rem 0;
  }
  .why_us .box {
    width: 100%;
    padding: 30px;
  }
  .title {
    flex-direction: column;
  }
  .title div:nth-child(2) {
    margin: auto;
  }
  .business img {
    margin-bottom: 2rem;
  }
  footer .row div {
    margin: 1rem 0;
  }

}
