@font-face {
  font-family: theater;
  src: url("/Theater_Bold.otf");
}
h1,
h2,
h3,
h4,
h5,
h5,
marquee {
  font-family: theater !important;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
::selection {
    background: black; 
    color:white;
}
::-moz-selection {
    background: black; 
}
.navbar-brand{
    width: 105px;
    height: 37px;
}
a, a:hover{
    text-decoration: none; 
    transition: 0.5s ease;
    scroll-behavior: smooth !important;
}
.btn.focus, .btn:focus{box-shadow: none;}
.mt{margin-top: 50px !important}
header{
    background-color: white;
}

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  font-family: theater !important;
  letter-spacing: 3px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.menu{
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
}
/* width */
.sidenav::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.sidenav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sidenav::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 16px;
}

.sidenav::-webkit-scrollbar-thumb:hover{
    background: white;
}
.menu-link a{
    font-size: 70px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: black;
}
.hero-slider{
    position: relative;
}
.hero-slider .carousel-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}
.hero-slider .text{
    width: 100%;
    height: inherit;
    padding-bottom: 100px;
}
.hero-slider .text h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}
.hero-slider .text p{
    letter-spacing: 1px;
    font-weight: 600;
}
.hero-slider li{
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    border: 2px solid transparent !important;
    background-color: transparent !important;
}
.hero-slider li::before{
    content: "";
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.hero-slider li.active{
    border-color: black !important;
}
.hero-slider li.active::before{
    background-color: black
}
.hero-slider .scroll-down{
    position: absolute;
    bottom: 20%;
    transform: rotate(-90deg);
    color: black;
    cursor: pointer;
    z-index: 99999;
}
.hero-slider .scroll-down::after{
    content: "";
    width: 70%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 10px;
}
.hero-slider .social{
    position: absolute;
    width: 150px;
    bottom: 50%;
    right: 10px;
    transform: rotate(-90deg);
    z-index: 99999;
}
.hero-slider .social i{
    color: black;
}
marquee{
    padding: 20px 0;
    font-size: 120px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-transform: capitalize;
}

/* work section  */
.work-section{
    margin: 4rem 0;
}
.title{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .8px;
}
.work-section .col-md-4 , .work-section .col-md-8{
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow: hidden;
}
.work-section .text{
   width: 100%;
   height: 100%; 
}
.work-section .text p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .78px;
}
.work-section .wrap{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    border-radius: 50%;
}
.work-section .wrap a{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}
.video-section{
    margin: 5rem 0;
}
.modal-title{
    font-size: 20px;
    font-weight: bold;
}
.video-section .video-wrap{
    width: 100%;
    height: 600px;
    background-image: url("../images/video-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.video-section .video-wrap button{
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    outline: none;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}
.arrows{
    width: 100%;
    height: auto;
    background-image: url('../images/arrows.png');
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0;
}
.arrows p{
    font-size: 18px;
    line-height: 30px;
}
.touch{
    margin: 3rem 0;
}
.touch h1{
    font-size: 40px;
    font-weight: bold;
}
.touch input{
    width: 100%;
    padding: 15px 10px;
    background-color: #F7F7F7;
    border: none;
    outline: none;
    margin: 10px 10px 10px 0;
}
.touch button{
    background-color: #F7F7F7;
    border: 1px solid #d6d6d6;
    padding: 15px 30px;
    height: fit-content;
    margin: 10px 10px 10px 10px;
}
footer p{
    color: #818181;
    text-transform: uppercase;
    font-size: 20px;
}
footer a{
    color: black;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}
.copyrights p{
    font-size: 15px;
    color: #818181;
}

#somediv {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: black;
	position:absolute;
    z-index: 999999;
}

.work-slider {
    margin-bottom: 5rem;
}
.work-slider h6 {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}
.work-slider p {
    font-size: 13px;
    color: gray;
}

.work-slider .text {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.work-slider span {
    font-size: 18px;
    color: grey;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 10px;
}
.work-slider .subtext {
    font-weight: bold;
    text-transform: uppercase;
}

.approch p {
    font-size: 15px;
    margin-bottom: 3rem;
}
.approch h6 {
    font-weight: bold;
    text-transform: uppercase;
}

.portfolio .owl-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.portfolio .owl-nav button {
    outline: none;
}
.portfolio .owl-nav button h6 {
    font-weight: bold;
}

.portfolio .img, .work-section .img-div {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}
.portfolio .overlay , .work-section .overlay {
    position: absolute;
    top: -100%;
    width: 100%;
    height: inherit;
    background: #000000cc;
    transition: 0.5s;
}
.portfolio .overlay a , .work-section .overlay a{
    color: white;
    opacity: 1;
    cursor: pointer;
}
.portfolio .img:hover .overlay , .work-section .img-div:hover .overlay{
    top: 0;
}

/* about us page  */
.aboutus-image,.aboutus-text{
    height: 400px;
}
.faq .card-header{
    background-color: white;
}
.faq .card{
    border: none;
    margin-bottom: 20px;
}
.faq .card-header button{
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 23px;
    letter-spacing: 1px;
}
.faq .card-header{
    border: .5px solid black;
}

/* contact us page  */
.contact .card:hover i, .contact .card:hover h4{
	color: #3d3d3d;
}

@media screen and (min-width: 320px) and (max-width: 780px){
    .scroll-down{display: none;}
    .hero-slider .social{bottom: 80%; right: -38px;}
    marquee{font-size: 100px;}
    .work-section{margin: 1rem;}
    .title {font-size: 40px;}
    .work-section .wrap{margin-top: 1rem ; width: 300px; height: 300px;}
    iframe{height: auto;}
    .touch .d-flex{flex-direction: column;}
    .touch button{margin: 0;}
    .work-slider .text , .work-slider .subtext {
        font-size:22px;
    }
    .work-slider span {
        font-size:12px
    }
    .work-slider {
        margin-bottom: 1rem;
    }
    #somediv{display: none;}
    .menu-link a{
    font-size: 40px;
    }
}
