@media screen and (min-width: 320px) and (max-width: 780px) {
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .pin-spacer,
  .contact-info,
  .close {
    display: none !important;
  }
  .nav-top-right {
    margin-right: 0;
  }
  .hamburger {
    right: 8px;
  }
  .top-right {
    right: -17%;
    top: 10%;
  }
  .navigation {
    padding: 5% 0 0 5%;
    width: 100%;
    .menu-links {
      img {
        width: 110px;
      }
    }
  }
  .menu {
    nav {
      ul {
        li {
          a {
            font-size: 25px;
            margin: 15px 0;
          }
        }
        li:first-child {
          margin-top: 55px;
        }
      }
    }
  }
  p.nav-copyright {
    font-size: 13px;
  }
  .why-section {
    .hexa-bg {
      display: none;
    }
    &::before,
    &::after {
      display: none;
    }
    img.bg-img.top.right {
      height: 400px;
      top: 0;
      opacity: 0.45;
      right: -27px;
    }
    img.bg-img.bottom.left {
      display: none;
    }
  }
  .img-content {
    padding: 50px 0 30px 0;
    .offset-box {
      padding-left: 0;
      &::before {
        display: none;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .content-box {
      padding: 0px 0px 40px !important;
      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
      }
    }
  }
  .cta {
    img.bg-img {
      opacity: 0.11 !important;
      padding: 35px;
    }
    img.bg-img.right {
      display: none;
    }
    .title {
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .points {
    padding: 72px 0;
    .bg {
      top: calc(100% - 50%);
      height: 90vh;
      object-fit: cover;
    }
    .box {
      margin-bottom: 70px;
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
        text-align: center !important;
      }
      img {
        margin-bottom: 15px;
      }
    }
    .single-counter {
      padding: 30px;
      .circle {
        // span.pre-counter {
        //   bottom: 53%;
        // }
        div {
          font-size: 22px;
        }
      }
    }
  }
  .your-eyes {
    padding: 0px 0 40px;
    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      position: relative;
      width: fit-content;
      margin: auto;
      .left {
        position: absolute;
        bottom: 30px;
        left: 0;
      }
      .right {
        position: absolute;
        bottom: 30px;
        right: 0;
      }
    }
    .box {
      .img-wrapper {
        width: 60px;
        height: 60px;
        img {
          height: 100%;
          padding: 5px;
        }
      }
    }
  }
  .partner {
    padding: 0px 0 40px;
    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      position: relative;
      width: fit-content;
      margin: auto;
      padding-bottom: 50px;
      .left {
        position: absolute;
        bottom: 30px;
        left: 0;
      }
      .right {
        position: absolute;
        bottom: 30px;
        right: 0;
      }
    }
    p {
      width: 100%;
    }
  }
  .about {
    padding: 30px 0;
    .bg-img {
      height: 250px;
    }
    span.badge {
      font-size: 14px;
    }
    h2 {
      font-size: 24px;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 200;
    }
    .mission-vision {
      gap: 40px;
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
      }
    }
    .values {
      margin: 70px 0 0;
      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        position: relative;
        width: fit-content;
        margin: auto;
        padding-bottom: 50px;
        .left {
          position: absolute;
          bottom: 30px;
          left: 0;
        }
        .right {
          position: absolute;
          bottom: 30px;
          right: 0;
        }
      }
      .accordion-button {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
      .accordion-body {
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
      }
      .p-relative {
        height: fit-content;
        min-height: 400px;
        margin-top: 30px;
      }
    }
  }
  .leadership {
    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      position: relative;
      width: fit-content;
      margin: auto;
      padding-bottom: 50px;
      .left {
        position: absolute;
        bottom: 30px;
        left: 0;
      }
      .right {
        position: absolute;
        bottom: 30px;
        right: 0;
      }
    }
    .container {
      padding: 50px 0;
    }
    .card {
      margin-bottom: 30px;
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
      }
    }
  }
  .leadership-modal {
    .owl-nav {
      position: absolute;
      top: unset;
      left: 0;
      bottom: -14px;
      right: 0;
    }
    .details {
      margin-top: 20px;
    }
    .modal-body {
      padding-top: 35px;
    }
    .modal-header {
      right: -5px;
      top: -4px;
      button {
        font-size: 13px;
      }
    }
  }
  .blog-detail {
    .banner {
      h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
    }
    .details {
      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 200;
      }
      h2,
      h4 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
    }
  }
  .search {
    width: 95%;
    z-index: 9;
  }
  .blog-list {
    .img-wrapper {
      margin: 0 0 20px 0;
    }
    .details {
      h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }
      p,
      span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 200;
      }
    }
  }
  .responsive-hero-section {
    display: block;
    margin-top: 76px;
    background-color: black;
    position: relative;
    .switch {
      width: 200px;
      height: 30px;
      position: relative;
      margin-top: 50px !important;
      margin: auto;
      display: block;
    }
    img {
      display: block !important;
      transition: 1s;
    }

    img.without {
      position: absolute;
      left: 0;
      top: 0;
    }
    .switch input {
      display: none;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #80aecf;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: #095396;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(167px);
      -ms-transform: translateX(167px);
      transform: translateX(167px);
    }
    .slider:after {
      content: "Without Synaptic";
      color: white;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      font-size: 16px;
      font-family: Verdana, sans-serif;
      width: max-content;
    }
    input:checked + .slider:after {
      content: "With Synaptic";
    }
  }
  .about {
    .bg-img {
      top: -76px;
    }
  }
  .solution {
    padding: 20px 0;
    .bg {
      top: unset;
      bottom: 0;
      margin: auto;
      width: 100%;
    }
    .limits {
      padding-bottom: 50px;
      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        position: relative;
        width: fit-content;
        margin: auto;
        padding-bottom: 50px;
        .left {
          position: absolute;
          bottom: 30px;
          left: 0;
        }
        .right {
          position: absolute;
          bottom: 30px;
          right: 0;
        }
      }
      .desc {
        width: 100%;
        font-size: 14px;
        padding-bottom: 30px;
      }
      .aviation-limits {
        .owl-nav {
          margin-top: 0;
        }
        .box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          min-height: unset;
          p {
            text-align: left !important;
          }
        }
      }
    }
  }
  .fuel {
    .container {
      padding: 0;
      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        position: relative;
        width: fit-content;
        margin: auto;
        padding-bottom: 50px;
        margin-bottom: 50px;
        .left {
          position: absolute;
          bottom: 30px;
          left: 0;
        }
        .right {
          position: absolute;
          bottom: 30px;
          right: 0;
        }
      }
      .box {
        margin-bottom: 0;
        img {
          margin-bottom: 10px;
        }
      }
    }
  }
  a.primary_btn,
  a.secondary_btn {
    padding: 5px 15px;
  }
  .provide-customers {
    .img-wrapper {
      .img {
        padding: 0;
        margin-top: 30px;
      }
      .bg {
        display: none;
      }
    }
  }
  .trends {
    .container {
      .title {
        margin-top: 50px;
        margin-bottom: 10px;
        padding-bottom: 50px !important;
      }
      .box {
        p {
          text-align: left !important;
        }
      }
    }
  }
  .actionable-data {
    .box {
      img {
        height: 35px;
      }
    }
  }
  .actionable-data {
    .box {
      p {
        text-align: left !important;
      }
    }
  }
  .points {
    .counter-row {
      margin-top: 0px;
      .desc {
        width: 100%;
      }
    }
  }
  .solution-landing {
    .banner {
      margin: 60px 0 5px;
      text-align: center !important;
      h2 {
        font-size: 20px;
        line-height: 28px;
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  .proactive {
    padding-top: 0 !important;
    .container {
      .title {
        margin-bottom: 50px;
      }
      .box {
        p {
          text-align: center !important;
        }
        .row {
          padding-top: 55px;
        }
      }
    }
  }
  .mro {
    .partner {
      margin-top: 0 !important;
      padding-bottom: 0;
    }
    .sliderContainer {
      padding-top: 15px;
      .box {
        margin-bottom: 0;
      }
    }
    .progressBarContainer {
      top: 0px;
    }
    .box {
      margin-bottom: 0;
    }
  }
  .ai {
    .container {
      padding: 0 15px;
      .ai-platform {
        .row {
          padding: 20px 15px;
          .col-md-2 {
            order: 1 !important;
          }
          .col-md-10 {
            order: 2;
          }
          .number-box {
            display: none;
          }
          .details {
            width: 100%;
            padding: 20px 0 0;
            text-align: left !important;
            h2 {
              text-align: left;
              width: 100%;
            }
          }
          .img-wrapper {
            img {
              height: 70px;
              margin-bottom: 0px;
              margin-right: auto;
            }
            &::before,
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
  .fuel-bg {
    display: none !important;
  }
  .case-study-modal {
    .modal-header {
      h2 {
        padding: 0 20px;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 0;
      }
    }
    a.primary_btn {
      padding: 10px 15px;
    }
    .modal-body {
      padding-top: 0;
    }
  }
  .case-study {
    .wrapper {
      margin-bottom: 0;
      flex-direction: column;
      .image {
        position: relative;
        width: 90%;
      }
    }
  }

  .case-study .wrapper.right .image {
    width: 90%;
  }
  /*--------- END --------*/
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .responsive-hero-section {
    .switch {
      top: 0px;
      right: 17px;
      height: 35px;
    }
    .slider:before {
      bottom: 4px;
    }
  }
  .order-sm-1 {
    order: 2 !important;
  }
  .order-sm-2 {
    order: 1 !important;
  }
  .top-right {
    right: -17%;
    top: 10%;
    height: 80%;
  }
  .close {
    display: block !important;
  }
  .navigation {
    .menu-links {
      img {
        width: 150px;
      }
    }
  }
  .cta {
    img.bg-img.right {
      display: block;
    }
  }
  .points {
    .bg {
      top: unset;
      height: unset;
    }
    .single-counter {
      padding: 0;
      .circle {
        div {
          font-size: 20px;
        }
        span.pre-counter {
          font-size: 13px;
          bottom: 50%;
        }
      }
    }
  }
  .your-eyes {
    .box {
      p {
        padding: 0 10px;
      }
      ul {
        li {
          padding: 10px;
        }
      }
    }
  }
  .about {
    .mission-vision {
      gap: initial;
    }
  }
  .leadership-modal {
    .modal-dialog {
      max-width: 90vw !important;
    }
    .owl-nav {
      left: 43%;
    }
  }
  .solution {
    .single-counter {
      .circle {
        span.pre-counter {
          top: 61%;
          bottom: unset;
        }
        div {
          top: 32%;
          bottom: unset;
        }
      }
    }
  }
  .solution {
    padding: 30px 0;
  }
  .actionable-data {
    .box {
      img {
        height: 35px;
      }
    }
  }
  .trends {
    .single-counter {
      .circle {
        span.pre-counter {
          top: 59%;
          bottom: unset;
        }
        div {
          top: 35%;
          bottom: unset;
        }
      }
    }
  }
  .provide-customers {
    .img {
      padding: 0;
    }
  }
  .fuel {
    .container {
      padding: 0;
      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        position: relative;
        width: fit-content;
        margin: auto;
        padding-bottom: 50px !important;
        margin-bottom: 20px;
        margin-top: 50px;
        .left {
          position: absolute;
          bottom: 30px;
          left: 0;
        }
        .right {
          position: absolute;
          bottom: 30px;
          right: 0;
        }
      }
    }
  }
  .points {
    .counter-row {
      margin-top: 15px;
    }
  }
  .proactive {
    padding-top: 0 !important;
    .container {
      .title {
        margin-bottom: 80px;
        margin-top: 40px;
      }
    }
  }
  .solution-landing {
    .banner {
      text-align: left !important;
    }
  }
  .ai {
    .container {
      padding: 0 15px;
      .ai-platform {
        .row {
          padding: 30px 20px;
          .col-md-2 {
            order: unset;
          }
          .col-md-7 {
            order: unset;
          }
          .number-box {
            display: none;
          }
          .details {
            text-align: left;
          }
          .img-wrapper {
            img {
              height: 80px;
              margin-bottom: 20px;
              &::before,
              &::after {
                display: none;
              }
            }
          }
        }
        .row.right {
          .details {
            margin-left: auto;
            align-items: flex-end;
            text-align: right;
          }
        }
      }
    }
  }
  .sliderContainer {
    .box {
      margin-bottom: 0;
    }
  }
  .case-study-modal {
    .modal-header {
      h2 {
        padding: 0 30px;
        font-size: 26px;
        line-height: 35px;
      }
    }
    a.primary_btn {
      padding: 10px 15px;
    }
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .leadership-modal {
    .modal-dialog {
      max-width: 70vw !important;
    }
  }
  .trends {
    .fuel-bg {
      position: absolute;
      top: -55%;
    }
  }

  .case-study {
    .bg {
      opacity: 0.06;
      bottom: unset;
      top: 20%;
    }
    .hexaa {
      height: 40%;
      width: 100%;
      object-fit: cover;
    }
    .bottom {
      bottom: -20%;
      top: unset;
      opacity: 1;
    }
  }
}

@media (max-width: 1199px) {
  .footer .box_item {
    width: 100%;
  }

  .footer .box_item:not(:first-child) {
    margin-top: 20px;
  }

  .footer .top_box.info_box {
    margin-bottom: 20px;
  }
  .footer .footer_right {
    padding-left: 50px;
  }
  .footer .footer_right_info:before {
    left: 0;
  }

  .footer .footer_nav ul li {
    padding: 0px 10px;
  }

  .footer .footer_nav ul {
    margin: 0px -10px;
  }
  .aviation-limits {
    .item,
    .owl-item {
      min-height: 450px;
    }
    .box {
      min-height: 450px;
    }
  }
}

@media (max-width: 991px) {
  .footer .footer_right_info:before {
    display: none;
  }
  .footer .footer_right,
  .footer .footer_left_info,
  .footer .footer_right_info {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer .footer_right {
    padding-left: 0;
  }
  .footer .footer_top {
    padding: 50px 0px 30px;
  }
  .footer .footer_right_info {
    margin-top: 30px;
  }
  .footer .subscribe_form form {
    max-width: 500px;
  }
  .contact-info {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .owl-carousel.aviation-limits {
    .owl-stage-outer.owl-height {
      height: auto !important;
    }
    .owl-item.cloned {
      display: none !important;
    }

    .owl-stage {
      transform: none !important;
      transition: none !important;
      width: auto !important;
    }
    .item {
      min-height: auto !important;
    }
    .owl-item {
      width: auto !important;
      margin-right: 0 !important;
      min-height: auto !important;
      .box {
        margin-bottom: 30px !important;
      }
    }
    .owl-nav {
      display: none;
    }
  }
  .solution.ground-support-counter {
    .bg {
      top: 0;
      bottom: auto;
    }
    .single-counter {
      margin: 0px 20px;
      padding: 10px 20px;
    }
  }
}

@media (max-width: 480px) {
  .footer .footer_nav ul {
    display: flex;
    margin: 0;
    gap: 6px 40px;
  }

  .footer .footer_nav ul li {
    padding: 5px 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .solution {
    .single-counter {
      .circle {
        div {
          top: 30%;
        }
        span.pre-counter {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .ground-support-slider .values.limits.row {
    padding-bottom: 0;
    margin-bottom: -100px;
  }
}
