*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
input:focus{box-shadow: none !important;}
.header-bg{
    background-color: #7B5FDB;
}
.white{
    color: white;
}
.purple{
    color: #7861AD;
}
.yellow{
    color: #FFC107;
}
.star{
    margin: 4px 2px;
    font-size: 13px;
    color: #FFC107;
    text-shadow: 0px 3px 6px #00000029;
}
.b600{font-weight: 600;}
a, a:hover{
    text-decoration: none;
    transition: 0.5s;
}
.btn-shop{
    border-radius: 0;
    background-color: #8054E6;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 10px 20px;
    font-size: 12px;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-shop:hover , .view-btn:hover, .address1 .edit:hover, .address1 .check:hover, .account .add:hover , .account .return:hover{
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    color: white;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
.groombox img:hover, .best-for-pets img:hover{
    animation: hovereffect 0.5s ease;
}
@keyframes hovereffect {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* header============================================================================================= */
.main-nav{
    padding: 10px 15px;
}
.header-top p{margin-bottom: 0;}
.logo img{height: 90px;}
.nav-item{
    margin-right: 8px;
    font-size: 12px;
}
.nav-link{
    font-weight: 700;
    color: black !important;
    letter-spacing: 0px;
    text-transform: uppercase;
    transition: 0.5s;
}
.nav-link:hover, .buttons .btn:hover{
    color: #7B5FDB !important;
}
.buttons .btn{  
    color: #242A26;
    font-weight: 600;
    font-size: 13px;
    transition: 0.5s;
}
.btn:focus{box-shadow: none !important;}
.breadcrumb{
    background: none;
    font-size: 14px;
    font-weight: 600;
}
.breadcrumb a{
    color: #858484;
}
.breadcrumb a:hover{
    color: #2B3046;
}
.breadcrumb .active{
    color: #2B3046;
}
/* footer ============================================================================================= */
footer{
    width: 100%;
    height: auto;
    background-color: #5F55E9;
    padding: 60px 0 0 0;
    color: #FFFFFF;
}
footer .logo{
    padding: 0 40px;
}
footer .logo p{
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
}
footer .col-md-3{
    border-right: 1px solid rgba(255, 255, 255, .5);
    padding-left: 30px;
    height: 200px;
}
footer .row .col-md-3:nth-child(4){
    border-right: none;
}
footer h5{
    text-transform: uppercase;
    letter-spacing: 0.77px;
    font-size: 18px;
    margin-bottom: 30px;
}
footer a{
    display: block;
    margin-bottom: 10px;
    color: white;
    letter-spacing: 0.77px;
    font-size: 13px;
    transition: 0.5s;
}
footer a:hover{
    color: rgba(255, 255, 255, .7);
}
footer .links i {
    font-size: 22px;
    margin-right: 25px;
}
footer form{
    position: relative;
}
footer input{
    position: relative;
    margin-top: 40px;
    background: rgba(255, 255, 255, .11 ) !important;
    border-radius: 100px !important;
    border-color: white !important;
    color: white !important;
}
footer input::placeholder{
    color: white !important;
    font-size: 14px;
}
footer .btn{
    position: absolute;
    right: 3px;
    top: 1px;
    background: none;
    color: white;
    font-weight: lighter;
}
.footer-bottom{
    background-color: #EEEEEE ;
    padding: 20px 0;
    color: #2B2727;
    margin-top: 40px;
}
.footer-bottom p{
    margin-bottom: 0;
    font-size: 15px;
}
/* faq page ================================================================================= */
.faq{
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
.faq h3{
    color: #7861AD;
    font-weight: 600;
}
.accordion .card{
    background: #7861AD 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 0px 15px #014a1d26 !important;
    border-radius: 22px !important;
    margin-bottom: 25px !important;
    border: none;
    color: white;
}
.accordion .card-header{
    background-color: #7861AD;
    border-radius: 22px !important;
    border: none;
    padding: 15px 20px !important;
}
.accordion h5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1rem;
    padding: 10px 5px;
    transition: 0.5s;
    font-weight: 600;
    letter-spacing: 0.9px;
}
.accordion h5 i{
    font-size: 20px;
    transform: translateY(-7px);
}
.accordion .card-body{
    font-size: 15px;
    line-height: 25px;
}
.faq p{
    font-size: 15px;
    line-height: 25px;
}
/* home page ====================================================================================== */
.hero .owl-dots{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.hero .owl-dots button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5f55e971;
    margin: 0 5px;
    outline: none;
}
.hero .owl-dots button.active{
    background-color: #5F55E9;
}
.groombox .item, .best-for-pets .col-md-3 a , .certified{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.groombox .item p, .best-for-pets p{
    margin-top: 10px;
    color: black;
    transition: 0.5s;
}
.groombox .item a:hover p, .best-for-pets a:hover p{
    color: #5F55E9;
}
.groombox .owl-nav , .product .owl-nav{
    display: block !important;
    position: absolute;
    top: 30%;
    width: 100%;
}
.groombox .owl-nav .owl-prev,
.product .owl-nav .owl-prev{
    position: absolute ;
    outline: none;
    left: -20px ;
}
.groombox .owl-nav .owl-next,
.product .owl-nav .owl-next{
    position: absolute ;
    right: -20px ;
    outline: none;
}
.groombox .owl-nav .owl-next span,
.groombox .owl-nav .owl-prev span,
.product .owl-nav .owl-next span,
.product .owl-nav .owl-prev span{
    color: #5F55E9;
    font-size: 70px;
}
.banner-img img{
    position: relative;
}
.banner-img .overlay{
    position: absolute;
    bottom: 30px;
    right: 40px;
}
.product .nav-link{
    color: #7861AD !important;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}
.product .nav-link.active{
    border-bottom: 2px solid #7861AD !important;
    background: none !important;
}
.product .owl-nav .owl-prev{left: 10px;}
.product .owl-nav .owl-next{right: 10px;}
.product .img-div{
    position: relative;
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 19px 31px #00000029;
    overflow: hidden;
    transition: all 0.5s;
    margin-bottom: 30px;
}
.product .img-div span{
    position: absolute;
    background-color: #F3BE54 !important;
    color: white;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 20px;
    top: 15px;
    left: 15px;
}
.product .img-div .cart-btn{
    position: absolute;
    width: 100%;
    padding: 20px;
    border: 0;
    background-color: #8879BA;
    color: white;
    letter-spacing: 1px;
    left: 0;
    bottom: -70px;    
    transition: 0.5s;
    outline: none;
}
.product .img-div:hover .cart-btn{
    bottom: 0;
    cursor: pointer;
}
.product .item a{
    color: black;
    font-weight: 600;
}
.product .item p span{
    color: #EF4C4C;
}
.product .item p del, .product p del span{
    color: rgba(43, 48, 70, .45) !important;
    font-size: 13px;
}
.view-btn{
    background-color: #574CEF;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 45px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}
.why-petvit {
    background-color: #F1CD3C;
    padding: 40px 0;
}
.why-petvit .img-div{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 3px 24px #2B30464A;
}
.why-petvit .img-div img{
    padding: 20px;
    width: 180px;
    height: 180px;
}
.why-petvit p{
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}
.why-petvit .owl-nav{
    display: block !important;
    position: absolute;
    top: 30%;
    width: 100%;
}
.why-petvit .owl-prev{
    position: absolute ;
    outline: none;
    left: 0px ;
}
.why-petvit .owl-next{
    position: absolute ;
    right: 0px ;
    outline: none;
}
.why-petvit .owl-nav .owl-next span,
.why-petvit .owl-nav .owl-prev span{
    color: #5F55E9;
    font-size: 70px;
}
.brand, .insta{
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.review .img-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.review .img-div img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.review  p{
    letter-spacing: 0.07px;
    color: #2B3046;
    font-size: 14px;
    height: 100px;
    padding: 0 11px;
}
.review .name{
    font-weight: 700;
    color: #F9DB62;
}
.insta{
    margin-top: 0;
}
.insta .owl-nav{
    display: block !important;
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 40px;
}
.insta .owl-next{
    position: absolute;
    right: 50px;    
    outline: none;
}
.insta .owl-prev{
    position: absolute;
    left: 50px;  
    outline: none;
}
.insta .owl-nav i{
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 6px #0000003B;
}
.brand{
    margin: 30px 0;
}
.brand .box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand .box{
    width: 200px;
    object-fit: contain;
    margin: 0 auto;
}
/* product-listing page ========================================================================= */
.bg2{
    width: 100%;
    padding: 50px 90px !important;
    background-image: url('../images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2  h2{
    font-weight: 600;
    text-transform: uppercase;
}
.listing .sort-btn .sortlist{
    height:50px;
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
}
.listing .sort-btn p{
    text-transform: uppercase;
    color:#1E1E21;
    font-weight: 600;
    padding-right: 10px;
    margin-top: 12px;
}
.simple-pagination li a,
.simple-pagination li span{
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    border: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
    transition: 0.5s;
}
.simple-pagination li .current{
    background: #574CEF !important;
    color: white !important;
}
.simple-pagination li .next,
.simple-pagination li .prev{
    background: #574CEF !important;
    color: white !important;
    font-size: 25px;
    padding-bottom: 4px;
}
.slider-nav .box{
    padding: 10px 20px;
}
.slider-nav img{
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: 0px 19px 31px #00000029 !important;
}
.slider-for .box{
    padding: 40px;
}
.slider-for .box img{
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 19px 31px #00000029 !important;
}
.slider i{
    font-size: 30px;
    color: #F2F2F2;
    background-color: #7861AD;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #2B30464D;
    cursor: pointer;
}
.details .list{
    list-style-position: inside;
}
.details .list li::marker{
    color: #7861AD ;
}
.details .price p{
    margin-bottom: 0;
    color: #EF4C4C;
    font-weight: bold;
    font-size: 25px;
}
.details .price p del{
    color: rgba(43, 48, 70, .45);
    font-size: 20px;
    margin-left: 10px;
}
.details .price .badge{
    background-color: #F76E1D;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: white;
    font-weight: lighter;
}
.details .input-group , .cart .input-group  {
    width: 20% !important;
    margin: 20px 0;
}
.details .buttons, .login-box .buttons{
    width: 100%;
}
.details .buttons .btn , .login-box .buttons .btn{
    width: 48%;
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #0000002E;
    padding: 15px 0;
    text-transform: uppercase;
    transition: 0.5s;
}
.details .buttons .buy-btn,  .login-box .buttons .buy-btn{
    background-color: #574CEF;
    color: white;
}
.details .buttons .buy-btn:hover,   .login-box .buttons .buy-btn:hover{
    background-color: transparent;
    color: #573CEF;
    border-color: #573CEF;
}
.details .buttons .cart-btn,   .login-box .buttons .cart-btn{
    background-color: transparent;
    border-color: #573CEF;
    color: #573CEF;
}
.details .buttons .cart-btn:hover ,   .login-box .buttons .cart-btn:hover{
    background-color: #574CEF;
    color: white !important;
}
.details .buttons .cart-btn i{
    color: #574CEF;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.5s;
}
.details .buttons .cart-btn:hover i{
    color: white !important;
}
.details  .policy p{font-size: 12px;}
.details  .policy img{
    vertical-align: middle;
    margin-right: 10px;
}
.details .pincode{
    margin: 20px 0;
}
.details .pincode i{
    color: #244B33;
}
.details .pincode input {
    border-color: #2B3046;
    border-radius: 5px;
}
.details .pincode input::placeholder{
    color: #2B3046;
    font-weight: 600;
    font-size: 14px;
}
.details .pincode .check-btn{
    border: none;
    background: #F3BE54 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    padding: 8px 40px;
    margin-left: 20px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.product-details .nav{
    background-color: #7861AD;
    border-radius: 11px;
    padding: 10px 0;
}
.product-details .nav .nav-link{
    color: rgba(255, 255, 255, .62) !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 0;
}
.product-details .nav .nav-link.active{
    color: rgba(255, 255, 255, 1) !important;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
}
.product-details .tab-pane{
    padding: 10px 40px;
}
.product-details .tab-pane p{
    font-size: 15px;
    line-height: 26px;
}
.tick{
    list-style-position: inside;
}
.tick li{
    list-style-type: none;
    font-size: 14px;
    line-height: 29px;
    padding-left: 30px;
    background-image: url('../images/correct1.png');
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
}
.yellow-btn{
    background: #F3BE54 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    color: white;
    height: max-content;
    padding: 15px 30px;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid #F3BE54;
    outline: none;
}
.yellow-btn:hover{
    background: transparent;
    color: #F3BE54;
}
.review-section{
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.review-section .item {
    padding: 0px;
}
.review-section .item .box{
    box-shadow: 0px 3px 6px #014A1D2E;
    border: 1px solid #2B3046;
    border-radius: 5px;
    padding: 20px;
}
.review-section .item .letter{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #534477;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.review-section .item .col-md-9{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-section .item .col-md-9 p{
    margin-bottom: 0;
}
.review-section .item .col-md-9 .d-flex p{
    margin-left: 30px;
    font-size: 13px;
}
.review-section .text {
    padding: 20px 10px 0 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2b304693;
}
.review-section .text p{
    font-size: 15px;
}
.review-section a{
    color: black;
    margin-right: 30px;
}
.review-section a i{
    font-size: 20px;
}
.review-section a .fa-thumbs-up{
    color: #2F8CE8;
}
.login-box .row{
    box-shadow: 0px 0px 24px #00000029;
}
.login-box input{
    padding: 25px 10px !important;
    margin: 20px 0;
    border: 0.5px solid #2b304694 !important;
}
.login-box .forgot a{
    letter-spacing: 0.66px;
    color: #2B3046;
}
.login-box button{
    box-shadow: 0px 3px 6px #0000002E;
    border-radius: 5px;
    background: #574CEF;
    width: 65%;
    padding: 15px;
    font-size: 20px;
    margin: 20px 0;
}
.login-box .d-flex a{
    letter-spacing: 0.66px;
    color: #2B3046;
    font-size: 15px;
    margin-right: 60px;
}
.reset p{
    font-size: 12px;
    margin: 20px 0;
}
/* aboutus page ========================================================================= */
.aboutus {
    background-image: url('../images/about-bg.png') !important;
    color: white;
}
.faq .tick li{
    background-image: url('../images/pawprint.png');
}
/* contactus page ========================================================================= */
.contactus input, .contactus textarea , .contactus input::placeholder, .contactus textarea::placeholder{
    border-color: #2B3046;
    color: #2B3046;
}
.contactus h4 img{
    padding-right: 10px;
}
.contactus p{
    padding-left: 45px;
    font-size: 14px;
    line-height: 25px;
}
.contactus a{
    color: #2B3046;
}
.contactus a:hover{
    color: #573CEF;
}
/* cart page ==================================================================================== */
.cart .input-group , .cart .input-group input{
    background: #573CEF;
    color: white !important;
    border: 2px solid #573CEF;
    border-radius: 5px;
}
.cart .input-group button{
    border: none;
    color: white !important;
}
.cart .input-group input {
    border-left-color: white;
    border-right-color: white;
}
.cart  p{
    margin-bottom: 0;
}
.cart a{
    color: #888888;
}
.cart a:hover{
    color: #573CEF;
}
.cart img{
    margin-right: 20px;
}
.cart .row:nth-child(1){
    border-top: 2px solid #2b304665;
}
.cart .row{
    border: 2px solid #2b304665;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 20px;
}
.checkout {
    margin: 50px 0;
}
.checkout .box{
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 22px rgba(22, 20, 20, 0.19);
    border-radius: 5px;
    padding: 20px 10px;
}
.checkout .box h4{
    color: #2B3046;
    font-weight: 600;
    padding-left: 15px;
}
.checkout .box .row:nth-child(2){
    border-top: 2px dashed #70707080;
}
.checkout .box .row{
    border: 2px dashed #70707080;
    border-right: none;
    border-left: none;
    border-top: none;
    padding: 10px 0;
}
.checkout .checkout-box{
    border: 1px solid #573CEF;
    border-radius: 5px;
    padding: 65px 30px;
}
/* account page */
.order h3{
    text-align: center;
    font: normal normal bold 32px/56px Montserrat;
    letter-spacing: 0.13px;
    margin-bottom: 3rem;
}
.order h3 img{
    height: 35px;
    transform: translateY(-5px);
}
.order aside{
    background: #8879BA;
    box-shadow: 0px 3px 6px #0000002E;
    border-radius: 5px;
    padding: 20px;
}
.order h6{
    font: normal normal 600 18px/25px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.order ul{
    margin-top: 1rem;
}
.order .nav-item{
    width: 100%;
    margin-left: 0px;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.order .nav-link{
    padding: 0 !important;
    margin-top: 0;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    color: #FFFFFF !important;
    padding-bottom: 10px;
    transition: 0.5s;
}
.order .nav-link::after, .order .nav-link.active{
    position: absolute;
    bottom: unset;
    left: unset;
    right: unset;
    margin: unset;
    width: 0%;
    content: '';
    color: transparent;
    background: transparent;
    height: 3px;
    transition: all 0.5s;
}
.order .nav-link:hover::after, .order .nav-link.active::after{
    width: 0%;
}
.order .navbar .active::after{
    background: none !important;
}
.order .nav-item:hover , .order .nav-item.active{
    background-color: #FFFBF1 !important;
    box-shadow: 0px 3px 6px #0000002E;
    transform: translateX(10px);
}
.order .nav-item:hover .nav-link , .order .nav-item.active .nav-link{
    color: #000000 !important;
}
.order main{
    padding: 0 0 0 50px;
}
.order .history h4{
    font-weight: bold;
    letter-spacing: 1px;
    color: #2B3046;
    margin-bottom: 40px;
}
.order .history .order-table{
    box-shadow: 0px 3px 6px #0000002E;
    border: 1px solid #2F3039;
    border-radius: 5px !important;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
}
.order .history table tbody tr{
    border-bottom: 0.5px solid #2F3039;
}
.order .history table thead tr{
    color: #2B3046;
}
.order .phone-view{
    width: 100%;
    height: auto;
}
.order .address1 h3{
    text-align: left;
    margin-bottom: 0;
}
.order .address1 p{
    line-height: 30px;
    font-weight: 500;
}

/* address page  */
.account h3{
    text-align: center;
    font: normal normal bold 32px/56px Montserrat;
    letter-spacing: 0.13px;
    margin-bottom: 3rem;
}
.account h3 img{
    height: 35px;
    transform: translateY(-5px);
}
.account .button{
    display: flex;
    justify-content: space-between;
}
.account .add{
    background: #574cef;
    color: white;
    border-color: #574cef;
    outline: none;
    padding: 10px 55px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.5px;
    transition: 0.5s;
    font-weight: 600;
}
.account .add i{
    padding-right: 5px;
}
.account .add:hover{
    background: transparent;
    color: #574cef;
}
.account .return{
    background: transparent;
    color: #574cef;
    border-color: #574cef;
    outline: none;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s;
}
.account .return:hover{
    background: #574cef;
    color: white;
}
.address1{
    margin-top: 4rem;
}
.address1 h3{
    font: normal normal 500 18px/30px Montserrat;
    color: #2B3046;
    letter-spacing: 0.8px;
}
.address1 .edit{
    border: 1px solid #574cef;
    border-radius: 5px;
    font-weight: 600;
    background: transparent;
    color: #574cef;
    outline: none;
    letter-spacing: 1px;
    padding: 10px 40px;
    margin-right: 15px;
    transition: 0.5s;
}
.address1 .edit:hover{
    background: #574cef;
    color: #fff;
    border-color: #574cef;
    cursor: pointer;
}
.address1 .check{
    border: 1px solid #574cef;
    border-radius: 5px;
    font-weight: 600;
    background: #574cef;
    color: #fff;
    outline: none;
    letter-spacing: 1px;
    padding: 10px 30px;
    margin-right: 15px;
    transition: 0.5s;
}
.address1 .check:hover{
    background: transparent;
    border-color: #574cef;
    color: #2F3039;
    cursor: pointer;
}
.address1 h3{
    text-align: left;
    margin-bottom: 0;
    font: normal normal bold 28px/56px Montserrat;
}