@media screen and (max-width: 1400px) {
  section.usp-tabs ul#myTab .nav-link {
    padding: 10px 10px;
  }
  .resource-list {
    .single-large-resource {
      h2 {
        font-size: 32px;
      }
    }
    .resource-content {
      padding: 20px;
      h3 {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 0;
      }
    }
  }
  section.contact-box .hs_submit.hs-submit {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 991px) {
  .resource-banner h1 {
    width: 140%;
    margin-left: -20%;
    margin-bottom: 0;
    font-size: 32px;
  }
}

@media screen and (max-width: 1200px) {
  section.usp-tabs ul#myTab li {
    max-width: 16.66%;
    height: 100%;
    align-items: center;
    display: flex;
  }
  .resource-list {
    .single-large-resource {
      h2 {
        font-size: 28px;
      }
    }
    .resource-content {
      padding: 18px;
      h3 {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .product-banner .row {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .resource-banner h1 {
    font-size: 28px;
    line-height: normal !important;
    margin-bottom: 0 !important;
  }
  .navbar {
    button.navbar-toggler {
      display: block;
    }
    .nav-links {
      display: none;
    }
  }
  section.usp-tabs {
    padding: 0;
    .container {
      display: none;
    }
    .mb-accordion {
      display: block;
    }
    .tab-pane .single-tab-box {
      margin: 10px 0;
    }
    .tab-pane .single-tab-box .tab-img-box {
      padding: 20px;
      margin-bottom: 15px;
    }
    .tab-pane .single-tab-box .tab-img-box span {
      width: 100px;
      height: 100%;
    }
  }
  .cta h2 {
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
  }

  .cta .col-lg-6.d-flex.justify-content-end.gap-4 {
    justify-content: center !important;
  }
  .product-banner {
    height: auto;
    h1 {
      font-size: 24px;
      line-height: 30px;
      padding: 0;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
    .col-md-6 {
      height: max-content !important;
    }
    .row,
    .container {
      height: auto;
    }
  }
  .loaction-data .counter-box {
    padding: 0 20px;
    .col-md-3.col-4 {
      width: 50% !important;
    }
  }

  div#offcanvasNavbar {
    max-width: 100%;
    border-left: 0;
    ul#primary-menu {
      padding: 0 0 0 0px;
      list-style: none;
      li a {
        text-decoration: none;
        font-weight: 700;
        color: #161616;
        padding: 12px 16px 12px 20px;
        margin-left: 8px;
        border-bottom: 1px solid transparent;
        transition: 0.5s;
        display: block;
      }
    }
  }
  button.navbar-toggler {
    border: 0;
    box-shadow: none !important;
    outline: none !important;
  }
  footer {
    .container {
      max-width: 100%;
      .quick-links h2 {
        font-size: 16px;
        margin-bottom: 0;
      }
      .quick-links a {
        font-size: 14px;
      }
      .col-xl-2.offset-xl-1 .quick-links {
        padding-left: 10px;
      }
      .footer-credit {
        margin-top: 40px;
      }
    }
  }
  footer .newsletter-box {
    width: 100%;
  }

  footer .hbspt-form {
    width: 100%;
  }

  footer .hs_email.hs-email.hs-fieldtype-text.field.hs-form-field {
    width: 100%;
  }

  footer .input {
    width: 100%;
  }

  footer input.hs-input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  // for banner section
  section.banner-section {
    height: 100vh;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content a {
    display: block;
    min-width: 70%;
    margin: 10px auto 20px auto !important;
    width: max-content;
  }

  .banner-section h1 {
    font-size: 24px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 6px;
  }

  .banner-section p {
    font-size: 20px;
    line-height: 30px;
  }

  // for client slider and box card
  .clientle {
    padding: 50px 0 30px 0;
  }

  .clientle h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .section-header h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .intelligence-area {
    padding: 10px 0 30px 0;
  }

  .section-header p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .intelligence-area h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .area-box .col-lg-2.col-md-4.col-6 {
    margin-bottom: 22px;
  }

  // for client slider
  .clientle .owl-dot {
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background: #f0f0f0 !important;
    display: inline-block;
    transition: 0.7s;
  }

  .clientle .owl-dots {
    z-index: 11;
    /* background: #000; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    height: 10px;
    gap: 10px;
  }

  .clientle .owl-dots button.owl-dot.active {
    background: #bfbfbf !important;
    width: 24px !important;
  }

  .loaction-data {
    .single-counter p.counter-amount {
      font-size: 28px;
    }
    .single-counter p {
      font-size: 16px;
    }
    .counter-box {
      margin-top: 30px;
    }
    .single-counter img {
      transform: scale(0.88);
      margin: -6px 0;
    }
    iframe.w-100 {
      height: 60vh;
    }
    padding: 30px 0;
  }

  .img-content {
    padding: 30px 0 !important;
    h2 {
      font-size: 22px;
    }
    img.w-100 {
      margin: 30px 0 0 0;
    }
  }

  .img-accordion .map-animation-box {
    img.graph-1,
    img.graph-2,
    img.graph-3,
    img.graph-4,
    img.graph-5 {
      width: 20%;
      margin-top: 14px;
    }
  }

  section.img-accordion {
    padding: 0 0 30px 0 !important;
    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
  .cta {
    padding: 30px 0;
    .col-md-6.d-flex.justify-content-end.gap-4 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      a {
        min-width: 70%;
        text-align: center;
      }
    }
    img.cta-bg {
      height: 100%;
    }
  }
  .case-study {
    padding: 30px 0 10px 0;
    img.w-100 {
      height: 210px;
    }
  }

  .quote-box {
    padding: 25px;
    margin-bottom: 30px;
    .quote-author h6 {
      font-size: 14px;
    }
    img.quote-icon {
      top: 8px;
      left: 4px;
    }
  }

  section.location-data-matters {
    padding: 40px 0;
    .mobile-pc-box {
      margin: 0px 0 80px 0;
    }
    .order-md-1 .mobile-pc-box {
      margin-bottom: 0;
    }
    .col-md-12.img-content {
      padding: 30px 20px !important;
      h2 {
        font-size: 20px;
        line-height: normal;
      }
    }
    .img-content {
      .mobile-pc-box {
        .mobile-1 {
          width: 40%;
          left: -40px !important;
          bottom: -60px !important;
        }
        .mobile-2 {
          width: 40%;
          right: -10px !important;
          bottom: -60px !important;
        }
      }
    }
  }
  .cta {
    .col-lg-6.d-flex.justify-content-end.gap-4 {
      flex-direction: column;
      gap: 16px !important;
    }
    h2 {
      text-align: center;
      display: block;
    }
  }
  section.enrich {
    padding: 30px;
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
      display: block;
    }
  }
  footer .quick-links h2 {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  footer {
    padding: 60px 12px 0;
    .quick-links h2 {
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .footer-credit {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 10px;
      margin-top: 40px;
      .newsletter-box p {
        margin-bottom: -6px;
      }
    }
  }
  .product-banner {
    height: auto !important;
  }

  .page-id-227 {
    .loaction-data {
      padding: 30px 0 0 0;
      .single-counter {
        margin-bottom: 40px;
      }
    }
    section.img-accordion {
      padding: 30px 0 30px 0 !important;
    }
  }

  .diverse-data {
    padding: 30px 0 0px 0;
    .single-data-card {
      padding: 80px 25px 40px 25px;
      h3 {
        font-size: 20px;
      }
    }
  }

  .page-id-227 section.location-data-matters .mobile-pc-box {
    margin-bottom: 0 !important;
  }

  .cta .btn_primary,
  .cta .btn_secondary {
    min-width: 244px;
    text-align: center;
  }

  section.contact-box {
    padding: 100px 0;
    .contact-content h2 {
      font-size: 26px;
    }
  }

  section.contact-box .contact-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .page-id-282 .clientle {
    padding: 0px 0 50px 0 !important;
  }
  .subscribe-box .wpcf7-form p {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-box input.wpcf7-form-control.wpcf7-text {
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  .subscribe-box .wpcf7-form p br {
    display: none;
  }

  .subscribe-box input.wpcf7-form-control {
    width: 80%;
  }

  .searchandfilter label {
    display: block;
  }
  .resource-banner {
    height: 300px !important;
  }
  .resource-detail {
    height: 30vh !important;
    h1 {
      width: 100%;
      bottom: 15px;
      padding: 20px;
      line-height: normal;
    }
  }

  .resource-detail-box {
    padding: 30px 0;

    .resourse-content {
      h2 {
        font-size: 26px;
        line-height: normal;
      }
      p a {
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid;
      }
    }
    .resource-might-like {
      a {
        font-size: 16px;
      }
      h2 {
        font-size: 16px;
        margin-top: 10px;
        border-top: 1px solid #ccc;
        padding-top: 30px;
      }
    }
  }
  .post {
    margin: 0;
  }
  .resource-banner {
    padding: 30px 0;
  }
  .pt__90 {
    padding-top: 30px !important;
  }
  .resource-banner .banner-bg {
    height: 100%;
  }
  .page-id-282 .clientle h2 {
    font-size: 22px;
  }
  .geospatial-insights {
    .col-lg-5.col-md-6 {
      order: 2;
    }
    .col-lg-5.offset-lg-2.col-md-6 {
      order: 1;
      margin-bottom: 20px;
    }
    .col-lg-8.offset-lg-2.section-header.mb-5 {
      margin-bottom: 0 !important;
    }
    img.w-100 {
      margin-top: 0;
    }
  }
  section.contact-box .hs_submit.hs-submit {
    padding-right: 22px;
  }
  footer .container .col-xl-2.offset-xl-1 .quick-links {
    padding-left: 0;
  }

  .privacy-banner {
    height: 250px !important;
  }

  .privacy-content {
    padding: 30px 0 !important;
  }

  .about-banner {
    height: auto !important;
  }

  .what-we-do {
    h1 {
      margin-top: 0;
    }
    .map-wrapper {
      .center-icon {
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.owl-theme.client-carousel {
    width: 107%;
    margin-left: -10px;
  }
  footer .footer-credit p {
    margin-top: -20px;
  }
  .clientle {
    width: 100%;
    overflow: hidden;
  }
  .resource-banner {
    height: 75vh !important;
  }
  .resource-list {
    .resouce-filter form ul {
      display: block;
    }
    input.sf-input-text {
      min-width: 100%;
    }
    select.sf-input-select {
      width: 100%;
    }
    .resouece-no-img {
      margin-bottom: 0;
    }
    .single-large-resource h2 {
      font-size: 30px;
      line-height: normal;
    }
    .single-large-resource a.outline-btn {
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }
    .resource-list {
      padding: 0;
      .container {
        padding: 0;
      }
    }
  }
  .cta .hs-form-private {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .cta .hs-form-private input.hs-button.primary.large {
    width: 100%;
  }

  .cta .hs_submit.hs-submit {
    width: 100%;
  }

  .cta .actions {
    width: 100%;
  }

  .cta-form button.btn-close {
    right: -12px;
    top: -51px;
  }

  .cta-form .modal-content {
    border: 20px solid #4357ee;
  }

  .cta-form .modal-body {
    padding: 22px;
  }

  .cta .cta-form .modal-content fieldset.form-columns-2 {
    flex-direction: column;
    gap: 0;
  }
  .cta .cta-form {
    fieldset.form-columns-2 .hs-form-field {
      width: 100%;
    }
  }
  .search-filter-results {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  section.contact-box .hs_submit.hs-submit {
    padding-right: 8px;
  }

  section.contact-box
    .hs_firstname.hs-firstname.hs-fieldtype-text.field.hs-form-field {
    padding: 0;
  }

  section.contact-box
    .hs_lastname.hs-lastname.hs-fieldtype-text.field.hs-form-field {
    padding: 0;
  }
}

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #conference-timeline {
    .timeline-start {
      margin: 0;
    }
    .timeline-end {
      margin: 0;
    }
    .conference-center-line {
      margin-left: 0;
      left: 20px;
    }
  }
  .timeline-article {
    display: flex;
    flex-direction: column;
    .order-md-1 {
      order: 1 !important;
    }
    .order-md-2 {
      order: 2 !important;
    }
    img {
      margin: unset;
    }
    .arrow-wrapper {
      margin-left: 0;
      left: 16px;
      top: 3%;
    }
    .right {
      transform: rotate(-45deg) translateX(-1px);
      -webkit-transform: rotate(-45deg) translateX(-1px);
    }
    .left {
      transform: rotate(-45deg) translateX(-1px) !important;
      -webkit-transform: rotate(-45deg) translateX(-1px) !important;
    }
    .content-left-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 45px;
      min-height: 53px;
      margin-bottom: 20px;
    }
    .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 45px;
      min-height: 53px;
    }
    .content-left {
      padding: 10px 25px;
      min-height: 65px;
      text-align: left !important;
    }
    .content-right {
      padding: 10px 25px;
      min-height: 65px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article {
    p {
      margin: 0;
      span.article-number {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .about-banner {
    .banner-bg {
      height: 100%;
    }
  }
  .what-we-do {
    text-align: center;
  }
  .timeline-article {
    margin: 0 0 10px;
    img {
      width: 100%;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }
  .retail-banner {
    height: fit-content !important;
    .row {
      padding: 50px 0;
    }
    margin-bottom: 60px;
    .p-absolute {
      height: 100%;
    }
  }
  .location-data {
    margin-bottom: 60px;
    img {
      margin-bottom: 30px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .Comprehensive-location {
    .single-data-card {
      .data-card-data {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .dataplor-advantage {
    .mt {
      margin-top: 0;
    }
    .row {
      img {
        margin: 30px 0;
      }
      div:nth-child(1) {
        order: 2;
      }
      div:nth-child(2) {
        order: 1;
      }
      div:nth-child(3) {
        order: 3;
      }
      div:nth-child(4) {
        order: 4;
      }
    }
  }
  .provides {
    .area-box {
      .row {
        .col {
          width: 100%;
          flex: unset;
          margin-bottom: 20px;
        }
      }
    }
  }
  section.img-accordion {
    padding: 40px 0 !important;
    p {
      font-size: 16px;
    }
  }
  .cta {
    p {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  section.usp-tabs {
    .tab-pane.show {
      .single-tab-box {
        .tab-img-box {
          img {
            height: 350px;
            object-fit: cover;
          }
        }
      }
    }
  }
  footer {
    .quick-links {
      h2 {
        margin-top: 7px;
      }
    }
  }
  .retail-banner {
    height: 40vh !important;
    margin-bottom: 60px;
    .p-absolute {
      height: 100%;
    }
  }
  .location-data {
    margin-bottom: 60px;
  }
  .provides {
    .img-box {
      width: 60px;
      height: 60px;
    }
    .area-box {
      .row {
        justify-content: center;
        .col {
          width: 50%;
          flex: unset;
          margin-bottom: 20px;
        }
      }
    }
  }
  section.img-accordion {
    padding: 40px 0 !important;
  }
  .cta {
    p {
      text-align: center;
    }
  }
}
